<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DebugHelp" version="0.3.5" targetFramework="net452" />
  <package id="Microsoft.Diagnostics.Runtime" version="0.9.170626.01" targetFramework="net452" />
  <package id="Prism.Core" version="6.3.0" targetFramework="net452" />
  <package id="System.Collections.Immutable" version="1.4.0-preview2-25405-01" targetFramework="net452" />
</packages>