<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DebugHelp" version="0.4.3" targetFramework="net452" />
  <package id="Microsoft.Diagnostics.Runtime" version="0.9.170809.03" targetFramework="net452" />
  <package id="Prism.Core" version="6.3.0" targetFramework="net452" />
  <package id="System.Collections.Immutable" version="1.4.0" targetFramework="net452" requireReinstallation="true" />
</packages>