<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="4.0.0-alpha0189" targetFramework="net461" />
  <package id="MahApps.Metro" version="2.0.0-alpha0095" targetFramework="net461" />
  <package id="Prism.Core" version="7.1.0.431" targetFramework="net461" />
  <package id="SharpDisasm" version="1.1.11" targetFramework="net461" />
  <package id="Zodiacon.PEParsing" version="0.1.6" targetFramework="net461" />
  <package id="Zodiacon.WPF" version="1.2.17" targetFramework="net461" />
</packages>