<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net452" />
  <package id="MahApps.Metro" version="1.6.0-alpha0184" targetFramework="net452" />
  <package id="Prism.Core" version="6.3.0" targetFramework="net452" />
  <package id="SharpDisasm" version="1.1.9" targetFramework="net461" />
  <package id="Zodiacon.PEParsing" version="0.1.6" targetFramework="net461" />
  <package id="Zodiacon.WPF" version="1.2.15" targetFramework="net452" />
</packages>