<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MahApps.Metro" version="1.3.0-ALPHA176" targetFramework="net452" />
  <package id="Microsoft.Diagnostics.Runtime" version="0.8.31-beta" targetFramework="net452" />
  <package id="Prism.Core" version="6.2.0-pre1" targetFramework="net452" />
  <package id="SharpDisasm" version="1.1.5" targetFramework="net452" />
  <package id="Zodiacon.WPF" version="1.0.2" targetFramework="net452" />
</packages>